html {
  font-size: 1.15em;
  height:100%;
  margin:0;
}

body{
  height:100%;
  margin:0;
}

.text-underline {
  text-decoration: underline;
}

.text-red {
  color: #BF1722;
}

.text-red:hover {
  color: #BF1722;
  text-decoration: underline;
}

.btn-red {
  color: #ffffff;
  background-color: #BF1722;
  border-color: #BF1722;
}

.btn-red:hover {
  color: #ffffff;
  background-color: #ab141e;
  border-color: #ab141e;
}

.btn-outline-red {
  color: #BF1722;
  border-color: #BF1722;
}

.btn-outline-red:hover {
  background-color: #BF1722;
  color: #ffffff;
}

.navbar-brand small {
  display: block;
  font-size: .75em;
  color: #BF1722;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: .85em;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #BF1722;
  font-size: .85em;
}

.border-2 {
    border-width:2px !important;
    border-color: #BF1722;
}
